<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="cesarve77.irplugin"
    version="0.0.1">
    <name>IR</name>
    <description>IR Plugin</description>
    <license>MIT</license>
    <keywords>IR,infrared</keywords>


    <js-module src="www/ir.js" name="IR">
        <clobbers target="window.ir" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Ir">
                <param name="android-package" value="cesarve77.irplugin" />
            </feature>
        </config-file>

        <source-file src="src/android/Ir.java" target-dir="src/cesarve77/ir/" />
    </platform>
</plugin>
